@{
    ViewBag.Title = "Hello Mockups";
}
<h2>Mockups</h2>
<ul>
    <li><a asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
</ul>
